<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Number of bad luck points to reach maximum bad luck RNG boost. Default: 100. Range: 1 - Inf. -->
    <add key="BadLuckMaxScore" value="100" />
    <!-- Minimum deviation from the average roll to change bad luck score. Default: 5. Range: 0-50 -->
    <add key="BadLuckScoreDeviation" value="5" />
    <!-- Deviation from the average roll for maximum bad luck score change. Default: 45. Range: 0-50 -->
    <add key="BadLuckMaxDeviation" value="45" />
    <!-- Maximum bad luck score to add or remove after a roll. Default: 10. Range: 1 - Inf. -->
    <add key="BadLuckMaxScoreChange" value="4" />
    <!-- Maximum roll percentage boost from bad luck (when bad luck score is equal to the maximum score) -->
    <add key="BadLuckValue" value="5" />
  </appSettings>
</configuration>
